docker:1053 {
    ready {
        monitor continuously
    }
    errors
    debug
    health
    log
    docker docker.localhost {
        ttl 10
        label_prefix com.dokku.coredns-docker
        max_backoff 30s
    }
    prometheus :9153
    cache 30
}
